/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-poppins;
  }